@charset "UTF-8";



html{
    height: 100%;
    
}

body{
    height:100vh;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #fafa4a 0%, #4773ff 100%);

}

header{
    width:500px;
    height:200px;
    padding:50px 800px;
}

section{
    background-color:#3d3e3f4e;
    padding:50px 0;
  }

h2{
  text-align: center;
}

p{
  text-align: center;
}

  div{
    width:400px;
    height:150px;
    margin:0 auto;
  }

  div{
    margin-bottom:20px;
  }

  label,input{
    display:block;
  }

  input {
	margin: 0;
	padding: 0;
	background: none;
  background-color: #fff;
	border: none;
	border-radius: 5px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.btn-danger{
    background-color: #dc3545;
}