@charset "utf-8";

html{
}
body{
}
/* header */
header{
    padding: 10px;
    background:#186AC9;
}



p {
    color: #f7ecf1;
}

/* main content */
#row{
  display: flex;
  flex-flow: row wrap;
}

#container{
  flex: 0 0 80%;
}

#side-bar{
  flex: 0 0 19%;
  border-left: 1px solid #727272;
}


/* アコーディオンメニュー */
.menu-btn .menu{
  list-style: none;
  text-align: center;
}

.accordion-title{
  display: flex;
  position: relative;
  margin-left: 700px;
  float: right;
  border-top: none;

}

.accordion-title p{
  transition: 0.3s;
}

.menu-btn{
  display: flex;
  font-size: 1.25rem;
  padding: 10px;
  padding-left: 10px;
  width: 50px;
  background-color: transparent;
  color: #fff;
  position: relative;
}

.menu-btn::after{
  content: '<';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  right: 40px;
  top: 3%;
  transform: rotate(-90deg);
  left: 20px
}

.accordion-title ul a:hover{
  color: #fff;
  background-color: #186AC9;
}

.menu-btn.open::after{
  display: flex;
  transform: rotate(90deg);
}

.menu{
  position: absolute;
  top: 75px;
  width: 20vw;
  height: 50px;
  right: 0;
  background-color: #fff;
}


.accordion-title ul li{
  padding: 20px;
  border: 1px solid;
  white-space: nowrap;
  text-align: center;
}



/* 追加記述 */
#index.blade.php

section{
    background-color:#ccd8ff;
    padding:50px 0;
  }

  li{
    list-style:none;
    border-bottom:1px solid #000;
    display:flex;
  }
  
  .post-content{
    width:100%;
    padding:15px;
  }
  
  .post-content > div{
    display:flex;
    justify-content:space-between;
  }
  
  .post-name{
    margin-bottom:10px;
  }
  /*---投稿画面---*/
.send {
  border-radius: 5px;
}

.delete {
  background: #ca353b;
  color: #fff;
}

.delete:hover {
	background: #fff;
  border: 1px solid #ca353b;
  cursor: pointer;
}

.delete:active {
  
  border-bottom: none;
  border-bottom: 2px solid #000000;
  cursor: pointer;
}

/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content{
  margin: 0 auto;
  padding: 40px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}